* {
    margin: 0;
    padding: 0;
}

html,
body {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    overscroll-behavior: none;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

#circle-button {
    width: 75vmin;
    height: 75vmin;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
    color: white;
    border-radius: 50%;
    font-size: 20vmin;
}